.App {
  text-align: center;
}

.nav .container {margin: 0 20px}
.main-bg {height: 300px; /*background-image: url('./img/bg.png')*/ background-size: cover; background-position: center;}
.start {opacity: 0;}
.end {opacity: 1; transition: opacity .5s;}

.cont-w {display: flex;}
.cont-w .cont {width: 30%; margin-right: 5%;}
.cont-w .cont:last-child {margin-right: 0;}
.cont-w .cont img {width: 100%;}